<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace = "com.spring.tmz.mapper.Continent_mapper">
	
	<select id = "select_continent_name" resultType="com.spring.tmz.domain.ContinentVO">
		SELECT * FROM trip.tbl_continent
		WHERE continent_no > 0
		ORDER BY continent_no ASC
	</select>
	
</mapper>